In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)

pd.options.mode.chained_assignment = None

In [5]:
start_date = "2020/01/01"
end_date = "2020/04/20";

customCalendar = pd.DataFrame({"Date": pd.date_range(start_date, end_date)})
customCalendar["day_of_week"] = customCalendar.Date.dt.weekday_name
customCalendar["day_of_month"] = customCalendar.Date.dt.day
customCalendar["week"] = customCalendar.Date.dt.weekofyear
customCalendar["month"] = customCalendar.Date.dt.month
customCalendar["month_name"] = customCalendar.Date.dt.month_name() # requires the ()
customCalendar["Quarter"] = customCalendar.Date.dt.quarter
customCalendar["Year"] = customCalendar.Date.dt.year
customCalendar["Year_half"] = (customCalendar.Quarter + 1) // 2
customCalendar.index.name = 'id'
customCalendar

,Date,day_of_week,day_of_month,week,month,month_name,Quarter,Year,Year_half
id,,,,,,,,,
0,2020-01-01,Wednesday,1,1,1,January,1,2020,1
1,2020-01-02,Thursday,2,1,1,January,1,2020,1
2,2020-01-03,Friday,3,1,1,January,1,2020,1
3,2020-01-04,Saturday,4,1,1,January,1,2020,1
4,2020-01-05,Sunday,5,1,1,January,1,2020,1
...,...,...,...,...,...,...,...,...,...
106,2020-04-16,Thursday,16,16,4,April,2,2020,1
107,2020-04-17,Friday,17,16,4,April,2,2020,1
108,2020-04-18,Saturday,18,16,4,April,2,2020,1
109,2020-04-19,Sunday,19,16,4,April,2,2020,1
110,2020-04-20,Monday,20,17,4,April,2,2020,1

In [3]:
# Create a datetime variable for today
base = datetime.datetime.today()
# Create a list variable that creates 365 days of rows of datetime values
date_list = [base - datetime.timedelta(days=x) for x in range(0, 365)]

# Create an empty dataframe
df = pd.DataFrame()
# Create a column from the datetime variable
df['datetime'] = date_list

df.head()

                    datetime
0 2020-03-27 14:48:51.012581
1 2020-03-26 14:48:51.012581
2 2020-03-25 14:48:51.012581
3 2020-03-24 14:48:51.012581
4 2020-03-23 14:48:51.012581

In [2]:
import calendar
import datetime
 
# Month name from number
print("Month name from number 5:")
month_num = 1
month_abre = datetime.date(2020, month_num, 1).strftime('%b')
month_name = datetime.date(2020, month_num, 1).strftime('%B')
print("Short Name:", month_abre)
print("Full  Name:", month_name)

Month name from number 5:
Short Name: Jan
Full  Name: January

In [6]:
data = pd.date_range('1/1/2019', periods = 10, freq ='H') 
  
x = pd.datetime.now() 
x.month, x.year 

x

datetime.datetime(2020, 4, 16, 7, 55, 38, 979491)

In [7]:
customCalendar = pd.DataFrame({"Date": pd.date_range(minDate, maxDate)})
customCalendar["year"] = pd.DatetimeIndex(customCalendar['Date']).year
customCalendar["day_of_week"] = pd.DatetimeIndex(customCalendar['Date']).weekday_name
customCalendar["day_of_month"] = pd.DatetimeIndex(customCalendar['Date']).day
customCalendar["month"] = pd.DatetimeIndex(customCalendar['Date']).month
customCalendar['month_year'] = pd.to_datetime(customCalendar['Date']).dt.to_period('M')
customCalendar

NameError: name 'minDate' is not defined